#vinti {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto;
}

#vinti #container {
    width: 50%;
}

@media (orientation:portrait) {
    #vinti #container {
        width: 90%;
    }
}

#vinti h3, #vinti h4 {
    width: 60%;
    text-align: center;
    background-color: #3CE57D08;
    border-left: 2px solid #3CE57D;
    border-right: 2px solid #3CE57D;
    padding: 8px 0;
}

#vinti h4 {
    max-height: 3em;
}

#vinti h5 {
    background-color: #3CE57D80;
    padding: 6px 16px;
}

#vinti h6 {
    background-color: #e53c3c80;
    padding: 6px 16px;
}

.section p {
    margin-top: 8px;
}

#taphead {
    display: flex;
}

#taphead h4 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#taphead > div {
    flex: 3;
    margin-left: 16px;
}

@media (orientation:portrait) {
    .row-start {
        flex-direction: column;
    }
    #taphead h4 {
        width: 100%;
    }
    #taphead > div {
        margin: 0;
        margin-top: 8px;
    }
}

#red4 h4, #red4 h3 {
    background-color: #e53c3c08;
    border-left: 2px solid #e53c3c;
    border-right: 2px solid #e53c3c;
}

#grey {
    h3, h4 {
        background-color: #ffffff08;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }
}

#characteristic small {
    text-align: center;
}